@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f8f9fa;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}


input:focus, textarea:focus, button:focus {
  outline: none;
  box-shadow: none;
}